# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build

on:
  push:
    branches: [ main ]
  pull_request:

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]

    steps:
    - uses: actions/checkout@v6
    - uses: pnpm/action-setup@v4.2.0
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: pnpm
    - name: install dependencies
      run: pnpm install --frozen-lockfile

    - run: pnpm lint

    - name: build
      env: 
        PUBLIC_MAPBOX_ACCESSTOKEN: ${{ secrets.PUBLIC_MAPBOX_ACCESSTOKEN }}
      run: 
        pnpm build
